
/**********************************/
/********** Category CSS **********/
/**********************************/
.category {
    position: relative;
    padding: 0 15px;
    margin-bottom: 30px;
}

.category .col-md-3 {
    padding: 0;
}

.category .category-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff;
}

.category .category-item.ch-400 {
    height: 400px;
}

.category .category-item.ch-250 {
    height: 250px;
}

.category .category-item.ch-150 {
    height: 150px;
}

.category .category-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.category .category-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #003171;
    transition: all 0.3s;
    opacity: 0;
}

.category .category-name:hover {
    opacity: 1;     
}

.category .category-name p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
}

.category .category-name:hover p {
    margin: 0;       
}

  #slider-container {
    position: relative;
    width: 50%;
    max-width: 800px;
    margin: 220px auto 0;
    /* Margen superior para separar del contenido anterior */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    left: 0px;
    top: 0px;
    padding: 150px;
  }

  .slider {
    display: flex;
    scroll-snap-align: start;
  }

  .slider img {
    width: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    background-color: #ffffff;

  }

  /* Media query para pantallas medianas */
  @media screen and (max-width: 1024px) {
    #slider-container {
      width: 70%;
      /* Cambia el ancho para pantallas medianas */
      left: -100px;
      /* Ajusta el valor izquierdo según tus necesidades */
    }
  }

  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    #slider-container {
      width: 80%;
      /* Cambia el ancho para pantallas pequeñas */
      left: 0;
      /* Vuelve a centrar horizontalmente */
      top: -400px;
      /* Ajusta la posición vertical según tus necesidades */
    }
  }

  /* Media query para pantallas aún más pequeñas */
  @media screen and (max-width: 480px) {
    #slider-container {
      width: 90%;
      /* Cambia el ancho para pantallas aún más pequeñas */
    }
  }

  .product-item:hover .product-image .product-action a {
    margin-top: 0;
  }

  .product-item .product-image .product-action a:last-child {
    margin-right: 0;
  }

  .product-item .product-image .product-action a:hover {
    color: #003171;
    background: #ffffff;
    border: 1px solid #003171;
  }

  .product-item .product-price {
    padding: 20px;
    background: #000000;
    transition: all 0.3s;
  }

  .product-item:hover .product-price {
    background: #003171;
  }

  .product-item .product-price h3 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
  }

  .product-item .product-price h3 span {
    font-size: 16px;
  }

  .product-item .product-price .btn {
    float: right;
    border: none;
    color: #000000;
    background: #003171;
  }

  .product-item:hover .product-price .btn,
  .product-item .product-price .btn:hover {
    color: #003171;
    background: #ffffff;
  }

  .product-item .product-price .btn i {
    margin-right: 5px;
  }

  .product-image-small {
    max-height: 200px;
    /* Ajusta esta altura según tus necesidades */
  }

  @media (min-width: 992px) {
    .sidebar {
      flex: 0 0 40%;
      /* Puedes ajustar el valor para cambiar el ancho */
      max-width: 40%;
      /* Puedes ajustar el valor para cambiar el ancho */
    }
  }

  /* Add margin-left to move the sidebar content to the right */
  .sidebar {
    width: 100%;
    margin-left: 850px;
    /* This pushes the content to the right */
    margin-top: -1645px;

  }

  .sidebar-widget .product-item .product-image img {
    max-height: 200px;
    /* Ajusta esta altura según tus preferencias */
    max-width: 200px;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .pagination a.page-link,
  .pagination span.page-link {
    margin-bottom: 30px;
    /* Ajusta los valores de padding según necesites */
  }
    .price-dropdown {
      width: auto; /* Ajusta el ancho según tus necesidades */
      max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
      overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
  }