{% extends 'core/base.html' %}
{% block title %}Lista de productos{% endblock %}
{% load static %}
{% block content %}


<div class="product_list_container">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Productos</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Product List Start -->
  <div class="product-view">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-12">
              <div class="product-view-top">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="product-search">
                              <input type="text" value="Buscar" />
                              <button><i class="fa fa-search"></i></button>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="product-short">
                              <div class="dropdown">
                                  <div id="category-dropdown-btn" class="dropdown-toggle" data-toggle="dropdown">
                                      Filtrar por
                                  </div>
                                  <div class="dropdown-menu dropdown-menu-right">
                                      <a href="?categoria={{ categoria }}" class="dropdown-item">Cualquiera</a>
                                      <a href="?filtro=Reciente&categoria={{ categoria }}" class="dropdown-item">Reciente</a>
                                      <a href="?filtro=Popular&categoria={{ categoria }}" class="dropdown-item">Popular</a>
                                      <a href="?filtro=Mas%20Vendidos&categoria={{ categoria }}" class="dropdown-item">Más Vendidos</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="product-price-range">
                              <form method="get">
                                  <div class="dropdown">
                                      <div class="dropdown-toggle" id="price-dropdown-btn" data-toggle="dropdown">
                                          Rango de precio
                                      </div>
                                      <div class="dropdown-menu dropdown-menu-right price-dropdown">
                                          <input type="hidden" name="filtro" value="{{ filtro }}" />
                                          <input type="hidden" name="categoria" value="{{ categoria }}" />
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}">Cualquier Precio</a>
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=0-20000">$0 to $20000</a>
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=20000-40000">$20000 to $40000</a>
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=40000-60000">$40000 to $60000</a>
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=60000-80000">$60000 to $80000</a>
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=80000-100000">$80000 to $100000</a>
                                          <!-- ... Resto del código ... -->
                                          <a class="dropdown-item" href="{% url 'product_list' %}?filtro={{ filtro }}&categoria={{ categoria }}&precio=100000">$100000+</a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
            <!-- Loop over products -->
            {% for producto in page_obj %}
            <div class="col-md-4 mt-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="{% url 'product_detail' producto.id %}">{{ producto.nombre }}</a>
                </div>
                <div class="product-image">
                  <a href="{% url 'product_detail' producto.id %}">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
                  </a>
                  <div class="product-action">
                    {% if user.is_authenticated %}
                    <a href="{% url 'add_to_cart' producto.id %}"><i class="fa fa-cart-plus"></i></a>
                    {% else %}
                    <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>
                    {% endif %}
                    <a href="{% url 'add_to_wishlist' producto.id %}" class="add-to-wishlist" data-product-id="{{ producto.id }}">
                      <i class="fa fa-heart"></i>
                    </a>
                    <a href="{% url 'product_detail' producto.id %}"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>{{ producto.precio }}</h3>
                  {% if producto.cantidad_disponible > 0 %}
                  {% if user.is_authenticated %}
                  <a class="btn" href="{% url 'product_detail' producto.id %}">
                    <i class="fa fa-shopping-cart"></i> Comprar
                  </a>
                  {% else %}
                  <a class="btn" href="{% url 'login' %}?next={{ request.path }}">
                    <i class="fa fa-shopping-cart"></i> Iniciar sesión para comprar
                  </a>
                  {% endif %}
                  {% else %}
                  <button class="btn btn-disabled" disabled>
                    Agotado
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}

            {% if mensaje_sin_productos %}
            <div class="col-md-12 mt-3">
              <p>{{ mensaje_sin_productos }}</p>
            </div>
            {% endif %}

          </div>

          <!-- Pagination Start -->
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if filtro %}&filtro={{ filtro }}{% endif %}{% if precio %}&precio={{ precio }}{% endif %}" tabindex="-1">Anterior</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}{% if filtro %}&filtro={{ filtro }}{% endif %}{% if precio %}&precio={{ precio }}{% endif %}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if filtro %}&filtro={{ filtro }}{% endif %}{% if precio %}&precio={{ precio }}{% endif %}">Siguiente</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <!-- Pagination End -->
        </div>
          
          <div class="col-lg-4 sidebar">
            <div class="sidebar-widget category">
              <h2 class="title">Categoria</h2>
              <nav class="navbar bg-light">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="?categoria=Maquillaje%20para%20ojos"><i class="fas fa-eye"></i> Maquillaje de ojos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="?categoria=Cuidado%20de%20la%20Piel"><i class="fa fa-child"></i> Productos para la piel</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="?categoria=Cuidado%20de%20Uñas"><i class="fa fa-child"></i> Productos para las Uñas</a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="?categoria=Cuidado%20de%20Cabello"><i class="fas fa-user"></i> Cuidado para cabello</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="?categoria=Cuidado%20de%20Labios"><i class="fas fa-laugh-wink"></i> Cuidado de labios</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="?categoria=Electrodomesticos"><i class="fas fa-paint-brush"></i></i>Electrodomesticos</a>
                      </li>
                  </ul>
              </nav>
          </div>
        

          <div class="sidebar-widget widget-slider">
            <div class="sidebar-slider normal-slider">
              {% for producto in page_obj %}
              <div class="product-item">
                <div class="product-title">
                  <a href="{% url 'product_detail' producto.id %}">{{ producto.nombre }}</a>
                </div>
                <div class="product-image">
                  <a href="#">
                    <img src="{{ producto.imagen.url }}" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    {% if user.is_authenticated %}
                    <a href="{% url 'add_to_cart' producto.id %}"><i class="fa fa-cart-plus"></i></a>
                    {% else %}
                    <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>
                    {% endif %}
                    <a href="{% url 'add_to_wishlist' producto.id %}" class="add-to-wishlist" data-product-id="{{ product.id }}">
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>{{ producto.precio }}</h3>
                  {% if producto.cantidad_disponible > 0 %}
                  {% if user.is_authenticated %}
                  <a class="btn" href="{% url 'product_detail' producto.id %}">
                    <i class="fa fa-shopping-cart"></i> Comprar
                  </a>
                  {% else %}
                  <a class="btn" href="{% url 'login' %}?next={{ request.path }}">
                    <i class="fa fa-shopping-cart"></i> Iniciar sesión para comprar
                  </a>
                  {% endif %}
                  {% else %}
                  <button class="btn btn-disabled" disabled>
                    Agotado
                  </button>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

      
        </div>
        <!-- Side Bar End -->
      </div>
    </div>
  </div>

  <div class="brand">
    <div class="container-fluid">
      <div class="brand-slider">
        {% for image in brand_images %}
        <div class="brand-item"><img src="{{ image.image.url }}" alt="" /></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  /*  .product-item {
      height: 400px;
      Establece aquí la altura deseada 
    }

    .no-image-placeholder {
      height: 100%;
     Hace que el div ocupe el 100% del contenedor .product-item 
      display: flex;
      align-items: center;
      justify-content: center;
    } */

    .product-item {
      border-radius: 10px; /* Ajusta el valor de "10px" según tu preferencia para la curvatura de las esquinas */
      overflow: hidden; /* Asegura que el contenido dentro del elemento respete el radio de las esquinas redondeadas */
    }

    .product-view .pagination .page-item .page-link {
      color: #ffffff;
      background: #003171;
      border-color: #000000;
  }

  .product-view .pagination .page-item:hover .page-link,
  .product-view .pagination .page-item.active .page-link {
    color: #003171;
    background: #ffffff;
}

</style>

<script>
  $(document).ready(function(){
    const urlParams = new URLSearchParams(window.location.search);
    const filtroParam = urlParams.get('filtro');
    const precioParam = urlParams.get('precio');

    if (filtroParam) {
      $('.category-dropdown-btn').text('Filtrar por: ' + filtroParam);
    }

    if (precioParam) {
      $('#price-dropdown-btn').text('Rango de precio: ' + precioParam);
    }
  });
</script>


{% endblock %}
