{% extends 'core/base.html'%}
{% block title %}Lista de productos{% endblock %}

{% load static %}
{% block content%}
 <!-- Breadcrumb Start -->
 <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Productos</a></li>
        <li class="breadcrumb-item active">Lista de Deseos</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Wishlist Start -->
  <div class="wishlist-page">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Confirmacion de pedidos</h1>
          </div>
        <div class="wishlist-page-inner">
            <div class="pedidotxt">
                <h3>Hola (nombre del usuario) vas a comprar los siguientes productos a continuacion: </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if wish_items %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Añadir al Carrito</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                {% for item in wish_items %}
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#">
                                                <img src="{{ item.product.imagen.url }}" alt="{{ item.product.nombre }}" />
                                            </a>
                                            <p>{{ item.product.nombre }}</p>
                                        </div>
                                    </td>
                                    <td>${{ item.product.precio }} COP</td>
                                    <td>
                                      <div class="qty">
                                          <button class="btn-minus">
                                              <i class="fa fa-minus"></i>
                                          </button>
                                          <input type="text" value="{{ item.quantity|default:'1' }}" />
                                          <button class="btn-plus">
                                              <i class="fa fa-plus"></i>
                                          </button>
                                      </div>
                                  </td>
                                  
                                    <td>
                                        <button class="btn-cart" data-product-id="{{ item.product.id }}">
                                            Añadir al Carrito
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-delete" data-product-id="{{ item.product.id }}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>No hay elementos agregados a la lista de deseos.</strong>
                    </div>
                    {% endif %}
                    <h2>Precio total: (precio total del pedido)</h2>
                    <div class="pedidotxtbotom">
                    <h3>El pedido sera enviado con los siguientes datos:</h3>
                    <ul class="list-group">
                    <li class="list-group-item">Nombre: (nombre del usuario)</li>
                    <li class="list-group-item">Correo: (correo del usuario)</li>
                    <li class="list-group-item" >Direccion: (direccion del usuario)</li>
                    <li class="list-group-item"     >Telefono: (telefono del usuario)</li>
                </ul>
                <div class="checkout-payment">
                    <div class="checkout-btn">
                      <button>Realizar Pedido</button>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Wishlist End -->
  <script>
    $(document).ready(function () {
        $(".btn-minus").on("click", function () {
            var $input = $(this).parent().find("input");
            var oldValue = parseInt($input.val());
            if (oldValue > 1) {
                $input.val(oldValue - 1);
            }
        });

        $(".btn-plus").on("click", function () {
            var $input = $(this).parent().find("input");
            var oldValue = parseInt($input.val());
            $input.val(oldValue + 1);
        });

        $(".btn-cart").on("click", function (event) {
            event.preventDefault();
            var productId = $(this).data("product-id");
            var quantity = $(this).parent().prev().find("input").val();
            addToCart(productId, quantity);
        });

        $(".btn-delete").on("click", function (event) {
            event.preventDefault();
            var productId = $(this).data("product-id");
            removeFromWishlist(productId);
        });

        function addToCart(productId, quantity) {
            var csrfToken = getCookie('csrftoken');
            
            $.ajax({
                url: "/add_to_cart/" + productId + "/",
                type: "POST",
                data: {
                    product_id: productId,
                    quantity: quantity,
                    csrfmiddlewaretoken: csrfToken
                },
                dataType: "json",
                success: function (data) {
                    // Aquí puedes mostrar un mensaje o actualizar el carrito de forma visual
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function removeFromWishlist(productId) {
            var csrfToken = getCookie('csrftoken');
            
            $.ajax({
                url: "/remove_from_wishlist/" + productId + "/",
                type: "POST",
                data: {
                    product_id: productId,
                    csrfmiddlewaretoken: csrfToken
                },
                dataType: "json",
                success: function (data) {
                    // Actualizar la página o realizar alguna otra acción después de eliminar
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Funciones auxiliares para manejar el token CSRF
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                }
            }
        });
    });
</script>

{% endblock %}