{% extends 'core/base.html'%}
{% block title %}Politica de privacidad{% endblock %}
{% load static %}
{% block content%}

    {%for polpriva in polprivas%}
    <div class="card text-center">
        <div class="card-header">{{ polpriva.titulo }}</div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ polpriva.contenido | safe }}</p>
            </blockquote>
        </div>
        {% comment %}<div class="card-footer">
            {% if request.user.is_authenticated %}
                <a href="{% url 'admin:politicas_Privacidads_change' Politica.id %}" target="_blank" class="btn btn-primary">Editar</a>
            {% endif %}
        </div>{% endcomment %}
    </div>
    
    {%endfor%}

{% endblock %}
