{% extends 'core/base.html'%}
{% block title %}Terminos y Condiciones{% endblock %}
{% load static %}
{% block content%}

    {%for termino in TT %}
        <div class="card">
            <div class="card-header">{{termino.titulo}}</div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{termino.contenido | safe}}</p>
                    {% comment %} {% if request.user.is_authenticated  %}<a href="{% url 'admin:politicas_Privacidads_change' Politica.id %}" target="_blank">Editar</a>{% endif %} {% endcomment %}
                </blockquote>
            </div>
        </div>
    {%endfor%}

{% endblock %}
