{% extends 'core/base.html' %}

{% block title %}inicio{% endblock %}

{% load static %}

{% block content %}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .card {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: #003171;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<h1>Password Reset Complete</h1>

<div class="card center">
    <p>Your password has been changed successfully. Please <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}