<!DOCTYPE html>
<html lang="es">

  <head>  {% comment %}
    <!-- Estilos y fuentes del template -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet" />
  
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet" />
  
    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'core/lib/slick/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'core/lib/slick/slick-theme.css' %}" rel="stylesheet" />
  
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  
    <!-- Template Javascript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>
    <script src="{% static 'core/lib/easing/easing.min.js' %}"></script>
  
  
  
    {% endcomment %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}Inicio{% endblock %}</title>
    {% load static %}

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'core/css/mainstyle.css' %}" rel="stylesheet" />

    {% comment %} <!-- Template Stylesheet -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/backTop.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/brand.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/bread.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/callaction.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/cart.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/category.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/check.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/contact.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/featured.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/footer.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/forminput.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/header.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/loginregister.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/myaccount.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/navbar.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/newsletter.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/productdetail.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/productitem.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/productList.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/productView.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/review.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/slidermaked.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />

     {% endcomment %}



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="{% static 'core/js/main.js' %}"></script>
    <!---IMPORTACION DE SLICKER -->
    <link rel="stylesheet" href="{% static 'lib/slick/slick.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'lib/slick/slick-theme.css' %}" type="text/css">
    
  
  
  </head>

  <body>
    <!-- Top bar Start -->
    <div class="top-bar"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-envelope"></i>
            {{ correo_empresa.correo }}
          </div>
          <div class="col-sm-6">
            <i class="fa fa-phone-alt"></i>
            {{ correo_empresa.telefono }}
          </div>
        </div>
      </div>
    </div>
    
    <!-- Top bar End -->
    <!-- Navegación -->

    <div class="nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand"></a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
              <a href="{% url 'home' %}" class="nav-item nav-link">Inicio</a>
              <a href="{% url 'product_list' %}" class="nav-item nav-link">Productos</a>
              
              <a href="{% url 'home' %}" class="nav-item nav-link">Mi Cuenta</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mas Paginas</a>
                <div class="dropdown-menu">
                  <a href="{% url 'home' %}" class="dropdown-item">Lista de Deseos</a>
                  <a href="{% url 'home' %}" class="dropdown-item">Inicio & Registro</a>
                  <a href="{% url 'home' %}" class="dropdown-item">Contactenos</a>
                </div>
              </div>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta de Usuario</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Inicio</a>
                  <a href="#" class="dropdown-item">Registro</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    
   
    <!-- Cabecera -->
    <header class="masthead">
      <div class="bottom-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="logo">
                <a href="index.html">
                  <img src="/static/core/img/logo.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="search">
                <input type="text" placeholder="Buscar" />
                <button><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="user">
                <a href="wishlist.html" class="btn wishlist">
                  <i class="fa fa-heart"></i>
                  <span>(0)</span>
                </a>
                <a href="{% url 'cart' %}" class="btn cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>({{ request.session.cart|length }})</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    

    <!-- contenido es la parte que cambia por ejemplo home.html-->
    {% block content%} 
    {% endblock%} 
    {% if request.path != "/" %}
    <hr />
    {% endif %}
<div class="footer_container">
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Contactános</h2>
              <div class="contact-info">
                <p>
                  <i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA
                </p>
                <p><i class="fa fa-envelope"></i><a href="{% url 'contact' %}"class="fa fa-envelope">email@example.com</a></p>
                <p><i class="fa fa-phone"></i>+123-456-7890</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Siguenos</h2>
              <div class="contact-info">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Informacion</h2>
              <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Terminos y Condiciones</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Politica de compras</h2>
              <ul>
                <li><a href="#">Política de pago</a></li>
                <li><a href="#">Politica de envios</a></li>
                <li><a href="#">Política de devoluciones</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row payment align-items-center">
          <div class="col-md-6">
            <div class="payment-method">
              <h2>We Accept:</h2>
              <img src="{% static 'core/img/payment-method.png' %}"  alt="Payment Method" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="payment-security">
              <h2>Asegurado por:</h2>
              <img src="{% static 'core/img/godaddy.svg' %}" alt="Payment Security" />
              <img src="{% static 'core/img/norton.svg' %}" alt="Payment Security" />
              <img src="{% static 'core/img/ssl.svg' %}" alt="Payment Security" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 copyright">
            <p>Copyright &copy; Todos los derechos reservados</p>
          </div>

          <div class="col-md-6 template-by">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->
  </div>
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Bootstrap y Javascripts -->

    <!-- IMPORTACION SLICKER -->
    

    <script src="{% static 'lib/jquery/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'lib/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slicker.js' %}"></script>
  </body>


</html>
