{% extends 'core/base.html' %}
 {% block title %}Checkout{% endblock %} 
{% load static %} 
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#">Productos</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="checkout-inner">
          <div class="billing-address">
            <h2>Direccion de Envio</h2>
            <div class="row">
              <div class="col-md-6">
                <label>Nombres</label>
                <input class="form-control" type="text" placeholder="Nombre" value="{{ user.username|default:'' }}" />
            </div>
           
            <div class="col-md-6">
                <label>Correo</label>
                <input class="form-control" type="text" placeholder="Correo" value="{{ user.email|default:'' }}" />
            </div>
              <div class="col-md-6">
                <label>Numero de Telefono</label>
                <input class="form-control" type="text" placeholder="Numero de Telefono" value="{{ user.phone }}"/>
              </div>
              <div class="col-md-6">
                <label>Direccion</label>
                <input class="form-control" type="text" placeholder="Direccion" value="{{ user.adress }}" />
              </div>

             



            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="checkout-inner">
          <div class="checkout-summary">
            <h1>Total del Carrito</h1>
            {% for item in cart_items %}
            <p>
              {{ item.product.nombre }}<span>${{ item.total_item_price }}</span>
            </p>
            {% endfor %}
            <p class="sub-total">Sub Total<span>${{ subtotal }}</span></p>
            <p class="ship-cost">
              Costo de Envio<span>${{ gastos_envio.monto }}</span>
            </p>
            <h2>Total de Compra<span>${{ total }}</span></h2>
          </div>

          <div class="checkout-payment">
            <div class="checkout-btn" href="{% url 'pedidos_view' %}">
              <button href="{% url 'pedidos_view' %}">Confirmar Compra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout End -->
{% endblock %}
