{% extends 'core/base.html' %} 
{% block title %}Detalle del producto{% endblock%} 
{% load static %} {% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Incio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Productos</a></li>
      <li class="breadcrumb-item active">Detalles de Producto</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Detail Start -->
<div class="product-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="product-detail-top">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-5">
                <div
                  id="product-slider"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      {% if producto.imagen %}
                      <img
                        src="{{ producto.imagen.url }}"
                        alt="Product Image"
                        class="d-block w-100"
                      />
                      {% else %}
                      <img
                        src="{% static 'core/img/product-1.jpg' %}"
                        alt="Product Image"
                        class="d-block w-100"
                      />
                      {% endif %}
                    </div>

                    <!-- Agrega más elementos del carrusel aquí -->
                  </div>
                  <a
                    class="carousel-control-prev"
                    href="#product-slider"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#product-slider"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

              <div class="col-md-7">
                <div class="product-content">
                  <div class="title"><h2>{{ producto.nombre }}</h2></div>
                  <div class="price">
                    <h4>Precio:</h4>
                    <p>$COP {{ producto.precio }}</p>
                  </div>
                  <div class="quantity">
                    <h4>Cantidad:</h4>
                    <div class="qty">
                        <button class="btn-minus" {% if producto.cantidad_disponible == 0 %}disabled{% endif %}>
                            <i class="fa fa-minus"></i>
                        </button>
                        <input type="text" value="0" {% if producto.cantidad_disponible == 0 %}disabled{% endif %} />
                        <button class="btn-plus" {% if producto.cantidad_disponible == 0 %}disabled{% endif %}>
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                 
                  <div class="action">
                    {% if producto.cantidad_disponible > 0 %}
                        {% if user.is_authenticated %}
                            <a class="btn" href="{% url 'add_to_cart' producto.id %}">
                                <i class="fa fa-shopping-cart"></i>Añadir al Carrito
                            </a>
                            <a class="btn" href="#">
                                <i class="fa fa-shopping-bag"></i>Comprar
                            </a>
                        {% else %}
                            <a class="btn btn-disabled" href="{% url 'login' %}">Inicia Sesión para Comprar</a>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-disabled" disabled>Agotado</button>
                    {% endif %}
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row product-detail-bottom">
          <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-toggle="pill"
                  href="#description"
                  >Descripcion</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#specification"
                  >Especificaciones</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#reviews"
                  >Comentarios</a
                >
              </li>
            </ul>

            <div class="tab-content">
              <div id="description" class="container tab-pane active">
                <h4>Descripcion Del Producto</h4>
                <p>{{ producto.descripcion }}</p>
              </div>

              <div id="specification" class="container tab-pane fade">
                <h4>Especificaciones del Producto</h4>
                <ul>
                  {% for especificacion in producto.especificaciones.all %}
                  <li>
                    {{ especificacion.nombre }}: {{ especificacion.valor }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="reviews" class="container tab-pane fade">
                <div class="reviews-submitted">
                  <div class="reviewer">
                    <span id="reviewer_name">nombre persona</span> -
                    <span>01 Jan 2020</span>
                  </div>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam.
                  </p>
                </div>
                <div class="reviews-submit">
                  <h4>Dejanos un Comentario:</h4>
                  <div class="row form">
                    <div class="col-sm-6">
                      <input type="text" placeholder="Name" />
                    </div>
                    <div class="col-sm-6">
                      <input type="email" placeholder="Email" />
                    </div>
                    <div class="col-sm-12">
                      <textarea placeholder="Review"></textarea>
                    </div>
                    <div class="col-sm-12">
                      <button>Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product">
          <div class="section-header">
            <h1>Productos Relacionados</h1>
          </div>

          <div class="row align-items-center product-slider product-slider-3">
            {% for producto_relacionado in productos_relacionados %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">{{ producto_relacionado.nombre }}</a>
                        </div>
                        <div class="product-image">
                            <a href="#">
                                <img src="{{ producto_relacionado.imagen.url }}" alt="Product Image" />
                            </a>
                            <div class="product-action">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'add_to_cart' producto_relacionado.id %}"><i class="fa fa-cart-plus"></i></a>
                                {% else %}
                                    <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>
                                {% endif %}
                                <a href="{% url 'add_to_wishlist' producto_relacionado.id %}" class="add-to-wishlist" data-product-id="{{ product.id }}">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>{{ producto_relacionado.precio }}</h3>
                            {% if producto_relacionado.cantidad_disponible > 0 %}
                                <a class="btn" href="{% url 'product_detail' producto_relacionado.id %}">
                                    <i class="fa fa-shopping-cart"></i>Comprar
                                </a>
                            {% else %}
                                <button class="btn btn-disabled" disabled>Agotado</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        </div>
      </div>

      <!-- Side Bar Start -->
      <div class="col-lg-4 sidebar">
        <div class="sidebar-widget category">
          <h2 class="title">Categoria</h2>
          <nav class="navbar bg-light">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="?categoria=Maquillaje%20para%20ojos"><i class="fas fa-eye"></i> Maquillaje de ojos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="?categoria=Cuidado%20de%20la%20Piel"><i class="fa fa-child"></i> Productos para la piel</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="?categoria=Cuidado%20de%20Uñas"><i class="fa fa-child"></i> Productos para las Uñas</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="?categoria=Cuidado%20de%20Cabello"><i class="fas fa-user"></i> Cuidado para cabello</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="?categoria=Cuidado%20de%20Labios"><i class="fas fa-laugh-wink"></i> Cuidado de labios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="?categoria=Electrodomesticos"><i class="fas fa-paint-brush"></i></i>Electrodomesticos</a>
                  </li>
              </ul>
          </nav>
      </div>

        <div class="sidebar-widget widget-slider">
          <div class="sidebar-slider normal-slider">
            {% for producto_aleatorio in productos_aleatorios %}
            <div class="product-item">
              <div class="product-title">
                <a href="#">{{ producto_aleatorio.nombre }}</a>
              </div>
              <div class="product-image">
                <a href="#">
                  <img src="{{ producto_aleatorio.imagen.url }}" alt="Product Image" />
                </a>
                <div class="product-action">
                  {% if user.is_authenticated %}
                  <a href="{% url 'add_to_cart' producto.id %}"><i class="fa fa-cart-plus"></i></a>
                {% else %}
                  <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>
                {% endif %}
                <a href="{% url 'add_to_wishlist' producto.id %}" class="add-to-wishlist" data-product-id="{{ product.id }}">
                  <i class="fa fa-heart"></i>
              </a>
                  <a href="#"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="product-price">
                <h3><span>$</span>{{ producto_aleatorio.precio }}</h3>
                <a class="btn" href="{% url 'product_detail' producto_aleatorio.id %}">
                  <i class="fa fa-shopping-cart"></i>Comprar
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>

        

      
      </div>
      <!-- Side Bar End -->
    </div>
  </div>
</div>

<!-- Product Detail End -->

<!-- Brand Start -->

<div class="brand">
  <div class="container-fluid">
    <div class="brand-slider">
      {% for image in brand_images %}
      <div class="brand-item"><img src="{{ image.image.url }}" alt="" /></div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".btn-minus").on("click", function () {
      var $input = $(this).parent().find("input");
      var oldValue = parseInt($input.val());
      if (oldValue > 1) {
        $input.val(oldValue - 1);
      }
    });

    $(".btn-plus").on("click", function () {
      var $input = $(this).parent().find("input");
      var oldValue = parseInt($input.val());
      $input.val(oldValue + 1);
    });

    // Función para obtener el token CSRF desde las cookies
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Buscar el nombre del token CSRF en las cookies
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    // Manejar el clic en el enlace "Añadir al Carrito"
    $(".add-to-cart-link").click(function (e) {
      e.preventDefault(); // Evitar que el enlace redireccione
      e.stopPropagation(); // Evitar que el evento se propague

      var product_id = $(this).data("product-id");
      var quantity = 1;

      var csrftoken = getCookie("csrftoken");

      // Realizar la solicitud AJAX para agregar al carrito
      $.ajax({
        type: "POST",
        url: "{% url 'add_to_cart' 0 %}".replace("0", product_id),
        data: {
          quantity: quantity,
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        dataType: "json",
        success: function (response) {
          // Agregar aquí cualquier lógica que desees después de agregar al carrito
          console.log("Producto agregado al carrito");
        },
      });
    });
  });
</script>

{% endblock%}